/* Reset styling */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	background: white;
	line-height: 1;
	color: black;
}
ol, ul {
	list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
* { box-sizing: border-box; }

/* Base styling */
html, body {
	width: 100%;
}
body {
	font-family: 'Dosis', sans-serif;
}	
.page__title {
	position: fixed;
	background-color: rgba(255,255,255, 0.6);
	color: black;
	bottom: 0;
	right: 0;
	padding: 2px;
	z-index: 100;
}

/* Grid styling */
.grid {
	width: 100%;
	margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.flipper,
.flipper__front,
.flipper__back {
  width: 100%;
  height: 100%;
}
.grid__sizer,
.grid__item {
	width: 100%;
}
/* entire container, keeps perspective */
.grid__item {
	perspective: 1000px;
	float: left;
	cursor: pointer;
	/*transition: all 0.5s ease;*/
}
@media(min-width: 480px) {
	.grid__item {
		cursor: inherit;
	}
}
/* flip the pane when hovered */

.grid__item.hover .flipper {
	transform: rotateY(180deg);
}
@media(min-width: 767px) {
	.grid__item:hover .flipper {
		transform: rotateY(180deg);		
	}
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}
.flipper__front, 
.flipper__back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.flipper__front {
	background-size: cover;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.grid__item__image {
	visibility: hidden;
	width: 100%;
	height: auto;
}
.flipper__back {
	display: table;
	text-align: center;
	transform: rotateY(180deg);
}
.flipper__back__inner {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
.rank,
.song-title,
.song-artist,
.listeners-count {
	display: block;
	margin-bottom: 10px;
}
.rank {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dc2424;
    color: #fff;
    line-height: 30px;
    margin: 0 auto 10px;
}
.label {
	color: #dc2424;
}
@media(min-width: 480px){
	.grid__sizer,
	.grid__item {
		width: 25%;
	}
}
@media(min-width: 992px) {
	.grid__sizer,
	.grid__item {
		width: 20%;
	}
}

/* Loading screen */
.loading {
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255, 0.6);
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: table;
}
.loading__inner {
	display: table-cell;
	vertical-align: middle;
}
.loading__inner__image {
	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.loading__inner__text {
	font-size: 26px;
	color: #272727;
	width: 100%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }